@model List<GraniteHouse.Models.Product>

<br /><br />
<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-4">
            <div class="card mb-4">
                <div class="card-header">

                </div>
            </div>
        </div>
    }
</div>